h1 {
    font-family: 'Alex Brush', cursive;
    /* font-size: xx-large; */
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 25px;
}

.new_font {
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}

.container {
    background-color: #FAF7F0;
}