<div class="container">
    <h1 class="text-center">Meet the Macaroni Famiglia</h1>
    <img src="../assets/about.jpg" alt="" class="rounded mx-auto d-block img-fluid">
    <div class="new_font">
        <p>And guests at our restaurant can look forward to a generous serving of both, with the authentic flavours of natural ingredients. All of our fish are sourced from wild stocks, and our meat comes from pure-bred Chianina cattle in Tuscany.</p>
        <p>We are proud to continue our family’s culinary tradition, now in its sixth generation, putting heart and soul —and fantastic flavour—into everything we do. The heritage that traces its origins back to a tiny village in Apulia is upheld here today:
            with the finest quality, natural ingredients and a pinch of authentic Mediterranean dolce vita!</p>
        <p>Enjoy a beautiful evening at Ristorante Il Gambero Rosso, savouring Italian cuisine at the very highest level.</p>
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>We are a place for family and friends—but we are always happy to welcome new guests. Spend a wonderful time in our restaurant and let us spoil you.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Your Pasta Queen <cite title="Source Title">La Macaroni Famiglia</cite>
            </figcaption>
        </figure>
    </div>
</div>