<div class="background_box">
    <div class="text-overlay text-white">
        <h2>Ristorante Il Gambero Rosso</h2>
        <p>Delivering great foot for more than 18 years</p>
        <a class="btn btn-warning btn-block btn-lg" routerLink="/menu" role="button">Our Menu</a>
        <span> &nbsp;&nbsp; </span>
        <a class="btn btn-warning btn-block btn-lg" role="button">Book a Table</a>
    </div>
</div>



<div class="container">

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="../assets/home2.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h1 class="card-title text-center">Welcome to</h1>
                    <h1 class="card-title text-center">Ristorante Il Gambero Rosso</h1>
                    <p class="card-text text-center">Cozy Italian Restaurant serving fresh pasta & other authentic Italian dishes in your Neighborhood.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="../assets/home3.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h1 class="card-title text-center">Traditional Italian Food for the Soul</h1>
                    <p class="card-text text-center">Ristorante Il Gambero Rosso is where love for food, warmth & delight combine. Our small neighborhood eatery is relaxed and intimate, which creates the perfect backdrop for a first date, an anniversary dinner, and a warm family gathering.</p>
                    <p class="card-text text-center">Serving fresh and authentic Italian food is important to us, and we do everything to make you feel as if you are at home. We look forward to serving you!</p>
                    <div class="text-center">
                        <a class="btn btn-warning btn-block btn-lg " routerLink="/about" role="button">Our Story</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>